@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

body {
  background-color: white;
  color: 	#333;
  font-family: 'Luckiest Guy', cursive;
}

.welcome {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

button {
  margin: 10px;
}

.box {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
